<div class="tab-pane" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
    <form asp-controller="User" asp-action="Register">
      <!-- Username input -->
      <div class="form-outline mb-4">
        <input type="text" id="registerUsername" name="username" class="form-control" />
        <label class="form-label" for="registerUsername">Username</label>
      </div>
      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="registerPassword" name="password" class="form-control" />
        <label class="form-label" for="registerPassword">Password</label>
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
    </form>
  </div>